body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    overflow: hidden;
}

/* STRONA GŁÓWNA */
.grid {
    display: flex;
    height: 100vh;
}

.kafelek {
    flex: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, filter 0.3s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 80px;
}

.kafelek:hover {
    transform: scale(1.08);
    filter: brightness(1.1);
}

/* TŁA – PODMIEŃ NA SWOJE OBRAZY */
.sekiro { background-image: url('sekiro1.jpg'); }
.elden { background-image: url('eldenring1.jpg'); }
.ds    { background-image: url('darksouls.jpg'); }
.bb    { background-image: url('bloodborne.jpg'); }


.subpage {
    min-height: 100%;
}

#sekiro {
    background: url("sekiro-bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* tło stoi w miejscu */
}


/* PODSTRONY */
.game {
    display: none;
    padding: 40px;
}

.game:target {
    display: block;
}

/* Ukryj kafelki gdy otwarta podstrona */
.game:target ~ .grid {
    display: none;
}

.back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #222;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.back:hover {
    background: #444;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* żeby było na wierzchu */
}

.logo {
    height: 87px;
    object-fit: contain;
}