body {
    margin: auto;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    overflow: hidden;
}

/* STRONA GŁÓWNA */

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: black;
    display: flex;
    justify-content: center;
    z-index: 9999; /* żeby było na wierzchu */
}

.logo {
    height: 87px;
    object-fit: contain;
}

.grid {
    display: flex;
    height: 100vh;
}

.kafelek {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, filter 0.3s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 28px;
    padding-bottom: 80px;
}

.kafelek:hover {
    transform: scale(1.08);
    filter: brightness(1.1);
}

/* TŁA STRON */

.sekiro { background-image: url('sekiro1.jpg'); }
.eldenring { background-image: url(elden1.jpg);}
.ds    { background-image: url('darksouls.jpg'); }
.bb    { background-image: url('bloodborne.jpg'); }

/* PODSTRONY */

.game {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
    padding-left: 40px;
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
}

.game:target {
    display: block;
}

/* Ukryj kafelki gdy otwarta podstrona */
.game:target ~ .grid {
    display: none;
}

#sekiro {
    background: url("sekiro.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* tło stoi w miejscu */
}

#eldenring {
    background: url("eldenring.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#ds {
    background: url("darksouls.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
}

#bb {
    background: url("bloodborne.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.symbole {
    height: 87px;
    z-index: 9999;
}

/* PRZYCISK POWROTU */

.back {
    position: fixed;       /* przykleja do ekranu */
    right: 40px;               /* lewa krawędź ekranu */
    top: 50%;              /* środek wysokości ekranu */
    background-color: rgba(0,0,0,0.7); /* półprzezroczyste tło */
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 5px 5px 0; /* lekko zaokrąglone rogi po prawej */
    z-index: 999;          /* zawsze na wierzchu */
}

.back:hover {
    background: #444;
}

/* INFORMACJE NA PODSTRONIE */

.napisy_podstrony {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    width: 40%;
    margin: auto;
    display: inline-block;
}

.tytul_tematu {
    font-size: 30px;
}

/* SCROLL */
.page {
    background-image: url("tlo.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.scroll-list {
    max-height: 76vh;
    overflow-y: auto;
    padding: 10px;
}

.zdjecia {
    width: 70%;
    border-radius: 8px;
}

.link {
    font-size: 50px;
}

.wiki {
    position: fixed;       /* przykleja do ekranu */
    right: 40px;               /* lewa krawędź ekranu */
    bottom: 30px;              /* środek wysokości ekranu */
    background-color: rgba(0,0,0,0.7); /* półprzezroczyste tło */
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 0 5px 5px 0; /* lekko zaokrąglone rogi po prawej */
    z-index: 999;          /* zawsze na wierzchu */
}